<blockquote class="blockquote text-center">
  <p class="text-black mb-100">
    Thank you for choosing to register to us!</p>
  <div class="text">
    In order to continue registering on our website, please confirm your identity with the token received by email </div>
  <div class="text">
    This token will only be valid for 15 minutes, after which it will expire and your user account will be deactivated. </div>
<!--  <div class="text">-->
<!--    Thank you!-->
<!--  </div>-->
  <br>
  <br>
  <p class="text-dark ">
    If you have confirmed your email, please click on the button below to log in
  </p>
  <div class="btn btn-secondary">
    <a routerLink="/login" routerLinkActive="active" class="btn-secondary">Go to login screen</a>
  </div>
  <br>
  <br>
  <div class="text">
    Thank you for choosing us and we hope you have a pleasant experience!</div>
</blockquote>
